.AboutMe {
    text-align: left;
    margin-left: 2%;
    margin-top: 10%;
    z-index: 1;
    position: absolute;
}
#text1 {
    padding: 25px 10px;
    width: 50%;
    z-index: 1;
    border-radius: 1.5rem;
    background-color: rgb(204, 204, 204);
}
#text2 {
    font-weight: bold;
    padding: 20px 10px;
    width: 50%;
    z-index: 1;
}
#buttonContact {
    background-color: rgb(146, 146, 223);
    padding: 0.9rem 2.1rem;
    border-radius: 2rem;
    text-decoration: none;
    color: whitesmoke;
    z-index: 1;
}
#buttonCV {
    background-color: rgb(146, 146, 223);
    padding: 0.9rem 2.1rem;
    border-radius: 2rem;
    text-decoration: none;
    color: whitesmoke;
    z-index: 1;
}
#buttonContact:hover {
    background-color: rgb(121, 121, 223);
}
#buttonCV:hover {
    background-color: rgb(121, 121, 223);
}